@model PcPartPickerAsp.DAL.ViewModels.MemoryViewModel
@{
    ViewBag.Title = "Memory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cpu</h2>

<div class="container">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Clock speed</th>
                    <th>Type</th>
                    <th>Price</th>
                </tr>
                </thead>

                <tbody id="myTable">
                @foreach (var m in Model.AllMemories)
                {
                    <tr>
                        <td>@m.Name</td>
                        <td>@m.Clockspeed</td>
                        <td>@m.Type</td>
                        <td>@m.Price</td>
                        <td>
                            @using (Html.BeginForm("EditMemory", "Build"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("computerId", Model.CurrentBuild.ComputerId)
                                @Html.Hidden("memoryId", m.MemoryId)
                                <input type="submit" value="Pick" class="btn btn-default"/>
                            }
                        </td>
                    </tr>
                }


                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>